<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Personal Blog - Self-Improvement to Development</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="refresh" content="{{price_log}}" />
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <script
      src="https://kit.fontawesome.com/ad7c10301e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <a name="top"></a>
     <body class="bg-dark" cz-shortcut-listen="true">

    <header>
      <div id="banner">
        <div class="stack" style="--stacks: 3;">
          <span style="--index: 0;">
 ███████╗██████╗ ███████╗███████╗███╗   ██╗
 ██╔════╝██╔══██╗██╔════╝██╔════╝████╗  ██║
 █████╗  ██████╔╝███████╗█████╗  ██╔██╗ ██║
 ██╔══╝  ██╔══██╗╚════██║██╔══╝  ██║╚██╗██║
 ███████╗██║  ██║███████║███████╗██║ ╚████║
 ╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝
          </span>
          <span style="--index: 1;">
 ███████╗██████╗ ███████╗███████╗███╗   ██╗
 ██╔════╝██╔══██╗██╔════╝██╔════╝████╗  ██║
 █████╗  ██████╔╝███████╗█████╗  ██╔██╗ ██║
 ██╔══╝  ██╔══██╗╚════██║██╔══╝  ██║╚██╗██║
 ███████╗██║  ██║███████║███████╗██║ ╚████║
 ╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝
          </span>
          <span style="--index: 2;">
 ███████╗██████╗ ███████╗███████╗███╗   ██╗
 ██╔════╝██╔══██╗██╔════╝██╔════╝████╗  ██║
 █████╗  ██████╔╝███████╗█████╗  ██╔██╗ ██║
 ██╔══╝  ██╔══██╗╚════██║██╔══╝  ██║╚██╗██║
 ███████╗██║  ██║███████║███████╗██║ ╚████║
 ╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝
          </span>
        </div>
"Personal Blog"
</div>
    </header>
    <div class="menu">
      <ul>
        <li><a href="/"><i class="fa-solid fa-terminal"></i></a></li>
        <li style="background-color: #99999950;"><a href="/blog/">Blog</a></li>
        <li><a href="/whoami/">Whoami</a></li>
        <li><a href="/projects/" class="btn-shine">Projects</a></li>
      </ul>
    </div>
    <main>
      <div style="width:100%;text-align:right;"> </div>
      <ul style="text-align: center; background-color: #575757;">
        <a> <b style="color: #ffcc66;">Basic</b> | <b style="color: #339999;">Medium</b>
          | <b style="color: #009900;">Advanced</b> | <b style="color: #cc3558;">Article</b>
        </a>
      </ul>
      <div class="post">
        <header class="post-header">
          <h1 style="color: #00ced1;">Havacılık Sektöründe Siber Güvenlik <span style="color:#cc3558 ;font-size:14px;">Article</span></h1>
          <p class="meta">
            16 Ağustos, 2022 • 
            <span>RESEARCH</span>
          </p>
        </header>
        <article class="post-content">
          <p>Havacılık sektörü, müşterileri için daha iyi verimlilik ve daha iyi yolcu deneyimleri sunmalarına olanak sağlamak için siber teknolojideki gelişmeleri benimsemekte hızlı olmuştur. 
            Çoğunlukla bu güvenli bir şekilde başarılmıştır, ancak bu tamamen güvenli olarak kabul edilemez.<br/><br/>
            Müşteri deneyimini geliştirmek veya uçak operasyonlarının verimliliğini artırmak için her yeni fırsat, siber suçluların bu yeni veya yükseltilmiş teknolojiyi kişisel veya bazen siyasi kazanç için kullanma fırsatını da beraberinde getiriyor. 
            Siber saldırıların sıklığı, saldırganların gelişmişlik düzeyi gibi açıkça artıyor ve soruna uyumlu ve birleşik bir yaklaşım olmadan, bir noktada, nispeten hızlı bir şekilde kontrol altına alınamayan bir siber saldırının ürkütücü bir şekilde kaçınılmaz olduğu görülüyor. 
            Endüstri üzerinde yıkıcı ve muhtemelen ölümcül sonuçları olan, başarılı olacaktır.<br/><br/>
            Tehdit türüne göre, siber tehditlere sıklıkla maruz kalan havacılık sektörünün başlıca sistemleri şunlardır:
            <ul>
              <li>Uçakların IP uçuş ağları</li>
              <li>Dijital Hava Trafik Kontrolleri (ATC) ve Trafik Yönetim Sistemleri</li>
              <li>Flight-By-Wire sistemleri</li>
              <li>Uçak içi arayüz cihazları</li>
              <li>Uçuş geçmişi sunucuları</li>
              <li>Filo ve rota planlama sistemleri</li>
              <li>Yolcu rezervasyon sistemleri ve sık uçan yolcu veya sadakat programları</li>
              <li>Bilet rezervasyon siteleri</li>
            </ul>
            Havacılık sektöründe yukarıda belirtilen siber tehditlerden kaynaklanan herhangi bir aksama, uluslararası ilişkilerde etkili bir dalga yaratırken, önemli finansal zararlara yol açabilir ve güvenlikten taviz verebilir. 
            Ayrıca, havacılık sektöründeki veri ihlalleri, müşterileri uzaklaştırmakta ve hisse senedi fiyatlarını düşüren, hükümet soruşturmalarına ve davalara yol açmaktadır.
          </p>
          <h2>Havayolu sektörü siber saldırılardan nasıl korunur?</h2>
          <p>Siber dayanıklılık, siber tehditleri tahmin etme, algılama, yanıt verme ve kurtarma yeteneğidir. 
            Havacılık sektörü bağlamında, siber güvenlikli havayolları, siber tehditleri proaktif olarak ele almak ve siber saldırılardan kurtulmak için tam hazırlık ve uyarlanabilirlik özelliklerini göstermelidir.
          <br/>
          İşte havacılık sektörünün siber esneklik oluşturmaya odaklanması gereken alanlar:
          <ul>
            <li>Ağ aygıtlarına ve sistemlerine erişimi güvence altına alarak uç noktaları korumalı.</li>
            <li>SOC1 ve SOC2 gibi üçüncü taraf denetimleri uygulayarak bulutta havacılık verilerini güvence altına almalı.</li>
            <li>Operatörler için kriptografik olarak korunan çok faktörlü kimlik doğrulamaya dayalı Kimlik ve Erişim Yönetimi (IAM) oluşturmalı.</li>
            <li>Müşteri, yolcu, çalışan ve ödeme bilgileri arasında uçtan uca şifreleme kullanmalı.</li>
            <li>Uçuş ve yer tabanlı hava trafik kontrol sistemleri arasındaki gerçek zamanlı iletişimi şifrelenmeli.</li>
            <li>Uçuş içi ve kokpit sistemleri de dahil olmak üzere tüm havacılık uygulamalarını güvenlik açıkları açısından değerlendirilmelidir.</li>
            <li>Potansiyel rakipleri önceden tespit etmek ve siber tehditlere proaktif olarak yanıt vermek ve bunları içermek için tehdit istihbaratını ve olay yanıtını dahil edilmelidir.</li>
          </ul>
          Tüm havacılık tedarik zincirine yayılan risklerle, proaktif siber algılama ve yanıt verme yeteneği, havayolu şirketleri için diğer sektör aktörlerinden kaynaklanan risklere karşı koymak için kritik öneme sahiptir ve olmaya devam edecektir.
        <br/><br/>
        Havayolu şirketlerinin siber riskleri daha geniş kapsamda ele almaları zorunlu olmakla birlikte, havacılık sektörünün siber dayanıklılığa ulaşması için ilk adım, ulusal kimlikler, pasaport bilgileri, ödeme bilgileri ve diğer Kişisel Tanımlanabilir Bilgiler (PII) dahil olmak üzere müşteri ve çalışan verilerini korumaktır.  
        </p>
        <div class="container">
          <pre><span class="comment">" 
Bir saldırının bir kişiyi etkileyebileceği birçok farklı saldırı ve birçok farklı yol var. 
Özellikle güvenlik üzerinde etkisi olabilecek tüm farklı senaryolar üzerinde çalışılmalıdır.
"</span></pre>
        </div>
        </article>
      </div>
    </main>
    <button style="background-color: #121212; border: 1px solid #7B61FF;border-radius: 2px;"  title="Go to top"><a style="color:white;" href="#top">Yukarı git</a></button>

    <footer> © Copyright, 2022 | Sponsored by
      <li><a href="https://www.linkedin.com/in/root-/" target="_blank" style="color: #0089ce;">self-sponsored</a></li>
    </footer>
    <script id="dsq-count-scr" src="js/count.js" async></script>
  
</body></html>