<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Personal Blog - Self-Improvement to Development</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="" />
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link type="text/css" rel="stylesheet" charset="UTF-8" href="../static/assets/css/translateelement.css">
    <script src="https://kit.fontawesome.com/ad7c10301e.js" crossorigin="anonymous"></script>
      
    <script>
      function changeLanguage(lang) {
        if (lang === 'tr') {
          // Add code to change to Turkish content
        } else if (lang === 'en') {
          // Add code to change to English content
        }
      }
    </script>
  </head>

  <body class="bg-dark" cz-shortcut-listen="true">
    <header>
      <!-- Add language selection -->
      <div class="language-selection">
        <span onclick="changeLanguage('tr')">TR</span> | <span onclick="changeLanguage('en')">EN</span>
      </div>
      <div id="banner">
        <div class="stack" style="--stacks: 3;">
          <span style="--index: 0;">
 ███████╗██████╗ ███████╗███████╗███╗   ██╗
 ██╔════╝██╔══██╗██╔════╝██╔════╝████╗  ██║
 █████╗  ██████╔╝███████╗█████╗  ██╔██╗ ██║
 ██╔══╝  ██╔══██╗╚════██║██╔══╝  ██║╚██╗██║
 ███████╗██║  ██║███████║███████╗██║ ╚████║
 ╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝
          </span>
          <span style="--index: 1;">
 ███████╗██████╗ ███████╗███████╗███╗   ██╗
 ██╔════╝██╔══██╗██╔════╝██╔════╝████╗  ██║
 █████╗  ██████╔╝███████╗█████╗  ██╔██╗ ██║
 ██╔══╝  ██╔══██╗╚════██║██╔══╝  ██║╚██╗██║
 ███████╗██║  ██║███████║███████╗██║ ╚████║
 ╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝
          </span>
          <span style="--index: 2;">
 ███████╗██████╗ ███████╗███████╗███╗   ██╗
 ██╔════╝██╔══██╗██╔════╝██╔════╝████╗  ██║
 █████╗  ██████╔╝███████╗█████╗  ██╔██╗ ██║
 ██╔══╝  ██╔══██╗╚════██║██╔══╝  ██║╚██╗██║
 ███████╗██║  ██║███████║███████╗██║ ╚████║
 ╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝
          </span>
        </div>
"Personal Blog"
</div>
    </header>
    <div class="menu">
      <ul>
        <li style="background-color: #99999950;"><a href="/"><i class="fa-solid fa-terminal"></i></a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/whoami/">Whoami</a></li>
        <li><a href="/projects/" class="btn-shine">Projects</a></li>
      </ul>
    </div>
    <main>
      <div class="post">
        <header class="post-header">
          <h1></h1>
        </header>
        <article class="post-content">
          <p style="text-align:center;">"Experience is gained not by getting older, but by living; and time ripens pears, not people. <b><span style="color:#cccccc;"><br/>| Peyami Safa</span></b>"</p>
          <p style="text-align:center;">[Intern] </p>

          <div class="column-container">
            <div class="highlight-container">
                
                <!-- Python -->
                <div class="highlight">
                    <pre>
<span class="k">def</span> <span class="nf">greet</span><span class="p">(</span><span class="nb">name</span><span class="p">):</span>
<span class="k">print</span><span class="p">(</span><span class="s">"Hello"</span>, <span class="nb">name</span><span class="p">)</span>
<span class="k">if</span> <span class="nb">__name__</span> <span class="o">==</span> <span class="s">"__main__"</span><span class="p">:</span>
<span class="nf">greet</span><span class="p">(</span><span class="s">"World"</span><span class="p">)</span>
</pre>
                </div>
        
                <!-- JavaScript -->
                <div class="highlight">
                    <pre>
<span class="k">function</span> <span class="nf">greet</span><span class="p">(</span><span class="nb">name</span><span class="p">) {</span>
    <span class="k">console.log</span><span class="p">(</span><span class="s">'Hello, '</span> + <span class="nb">name</span><span class="p">);</span>
}
<span class="nf">greet</span><span class="p">(</span><span class="s">'World'</span><span class="p">);</span>
</pre>
                </div>
        
                <!-- C++ -->
                <div class="highlight">
                  <pre>
<span class="k">#include</span> <span class="s">&lt;iostream&gt;</span>
<span class="k">int</span> <span class="nf">main</span>() {
    <span class="nb">std::cout</span> << <span class="s">"Hello, World!"</span> << <span class="nb">std::endl</span>;
}
</pre>
            </div>
          </div>
        </div>
        
        

            <h4>Latest Posts:</h4>
            <ul class="posts">
              <li>
                <div id="data">22 Aug 2023</div>
                :: <b><span class="post-link"><b><span style="color: #cc3558;">[*]
                        </span></b></span></b><a href="https://sleda.github.io/multitool"><b>[TR] OpenAI-Multitool</b></a>
              </li>
              <li>
                <div id="data">16 Aug 2022</div>
                :: <b><span class="post-link"><b><span style="color: #cc3558;">[*]
                        </span></b></span></b><a href="https://sleda.github.io/cs-aviation"><b>[TR] Havacılık Sektöründe Siber Güvenlik</b></a>
              </li>
              <li>
                <div id="data">09 Aug 2022</div>
                :: <b><span class="post-link"><b><span style="color: #ffcc66;">[*]
                        </span></b></span></b><a href="https://sleda.github.io/blog/"><b>[TR] Bu Website oluşturuldu.</b></a>
              </li>
            </ul>
            
            <div class="container">
              <div class="slider">
                <pre class="quote hidden"><span class="comment">Kırmızı vosvos bi' araba.. Senle aydın ve muğla.. ⛱️🕶️</span><span class="cursor">|</span></pre>
                <pre class="quote hidden"><span class="comment">Her şeyi tecrübe edemem. Mükemmel olmayı hedeflemek, pratikte mükemmelliğe ulaşmamı engelliyor.</span><span class="cursor">|</span></pre>
                <pre class="quote hidden"><span class="comment">Bir hack, kişiyi etkileyebileceği birçok farklı saldırı ve birçok farklı yol içerir.</span><span class="cursor">|</span></pre>
                <pre class="quote hidden"><span class="comment">Özellikle güvenlik üzerinde etkisi olabilecek tüm farklı senaryolar üzerinde çalışılmalıdır.</span><span class="cursor">|</span></pre>
                <pre class="quote hidden"><span class="comment">O hatayı düzelttim, sadece etkisini göstermedi. Sabret.</span><span class="cursor">|</span></pre>
                <pre class="quote hidden"><span class="comment">Veritabanı sadece bir depo değil, bir projenin kalbidir. Ona iyi bakmalısın.</span><span class="cursor">|</span></pre>
                <pre class="quote hidden"><span class="comment">Sorunun kaynağını bulmak, çözümü bulmaktan daha değerlidir.</span><span class="cursor">|</span></pre>
                <pre class="quote hidden"><span class="comment">Yavaş bir sunucu, yavaş bir düşünce sürecinin ürünüdür.</span><span class="cursor">|</span></pre>
                <pre class="quote hidden"><span class="comment">Bir API sadece bir arayüz değil, iki sistem arasındaki köprüdür. O köprüyü güçlü tutmalısın.</span><span class="cursor">|</span></pre>
                <pre class="quote hidden"><span class="comment">Kod yazmak bir sanattır, her hatada tuvali yeniden boyayamazsın.</span><span class="cursor">|</span></pre>
                <pre class="quote hidden"><span class="comment">Bir hata bulduğunda üzülme, çünkü onu bulabildiğin için şanslısın. Daha kötüsü, hatanın gizli kalmasıdır.</span><span class="cursor">|</span></pre>
                <pre class="quote hidden"><span class="comment">İyi bir backend geliştirici, sorunları önler; harika bir backend geliştirici, onları hiç oluşmamış gibi gösterir.</span><span class="cursor">|</span></pre>
                
                <!-- Daha fazla söz. -->
                
              </div>
            </div>
            
          
        </article>
      </div>
    </main>
    <footer>
      © Copyright, 2022 | <a href="https://www.linkedin.com/in/root-/" target="_blank" style="color: #0089ce">self-sponsored</a>
    </footer>
    <script id="dsq-count-scr" src="js/count.js" async></script>

     <!--flask requirements-->
    <script>
      let currentQuoteIndex = 0;
      let charIndex = 0;
      const quotes = document.querySelectorAll('.quote');
  
      function resetQuotes() {
          quotes.forEach((quote) => {
              quote.classList.add('hidden');
              quote.querySelector('.comment').textContent = '';
          });
      }
  
      function typeEffect() {
          let currentQuoteText = quotes[currentQuoteIndex].getAttribute('data-original-text');
          let currentCommentElement = quotes[currentQuoteIndex].querySelector('.comment');
          let cursorElement = quotes[currentQuoteIndex].querySelector('.cursor');

          cursorElement.style.animation = 'none';  // Yazma sırasında yanıp sönme efektini durdur

          if (charIndex < currentQuoteText.length) {
              currentCommentElement.textContent += currentQuoteText[charIndex];
              charIndex++;
              setTimeout(typeEffect, 50);
          } else {
              charIndex = 0;
              cursorElement.style.animation = '';  // Yazma bittiğinde yanıp sönmeyi geri al
              setTimeout(nextQuote, 1500);
          }
      }


  
      function nextQuote() {
          resetQuotes();
          currentQuoteIndex = (currentQuoteIndex + 1) % quotes.length;
          quotes[currentQuoteIndex].classList.remove('hidden');
          typeEffect();
      }
  
      function init() {
          quotes.forEach(quote => {
              let originalText = quote.querySelector('.comment').textContent;
              quote.setAttribute('data-original-text', originalText);
              quote.querySelector('.comment').textContent = '';
          });
  
          quotes[currentQuoteIndex].classList.remove('hidden');
          typeEffect();
      }
  
      init();
    </script>
  
  
    <script
     src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
     integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
     crossorigin="anonymous"></script>
    <script
     src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
     integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
     crossorigin="anonymous"
   ></script>
  </body>
</html>