<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Personal Blog - Self-Improvement to Development</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="refresh" content="{{price_log}}" />
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <script
      src="https://kit.fontawesome.com/ad7c10301e.js"
      crossorigin="anonymous"
    ></script>
  </head>

     <body class="bg-dark" cz-shortcut-listen="true">

    <header>
      <div id="banner">
        <div class="stack" style="--stacks: 3;">
          <span style="--index: 0;">
 ███████╗██████╗ ███████╗███████╗███╗   ██╗
 ██╔════╝██╔══██╗██╔════╝██╔════╝████╗  ██║
 █████╗  ██████╔╝███████╗█████╗  ██╔██╗ ██║
 ██╔══╝  ██╔══██╗╚════██║██╔══╝  ██║╚██╗██║
 ███████╗██║  ██║███████║███████╗██║ ╚████║
 ╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝
          </span>
          <span style="--index: 1;">
 ███████╗██████╗ ███████╗███████╗███╗   ██╗
 ██╔════╝██╔══██╗██╔════╝██╔════╝████╗  ██║
 █████╗  ██████╔╝███████╗█████╗  ██╔██╗ ██║
 ██╔══╝  ██╔══██╗╚════██║██╔══╝  ██║╚██╗██║
 ███████╗██║  ██║███████║███████╗██║ ╚████║
 ╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝
          </span>
          <span style="--index: 2;">
 ███████╗██████╗ ███████╗███████╗███╗   ██╗
 ██╔════╝██╔══██╗██╔════╝██╔════╝████╗  ██║
 █████╗  ██████╔╝███████╗█████╗  ██╔██╗ ██║
 ██╔══╝  ██╔══██╗╚════██║██╔══╝  ██║╚██╗██║
 ███████╗██║  ██║███████║███████╗██║ ╚████║
 ╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝
          </span>
        </div>
"Personal Blog"
</div>
    </header>
    <div class="menu">
      <ul>
        <li style="background-color: #99999950;"><a href="/"><i class="fa-solid fa-terminal"></i></a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/whoami/">Whoami</a></li>
        <li style="background-color: #393957"><a href="/projects/" class="btn-shine">Projects</a></li>
      </ul>
    </div>
    <main>
      <div class="post">
        <article class="post-content">
          <h2 id="necmo-bot">Necmo</h2>
          <img class="center" src="../static/images/necmo_release-0.1.jpg" width="1055" height="296">
          <p style="text-align: left;">
            <ul><pre><p style="text-decoration:underline";>NecmettinCross Strategy | Alpha Release Notes v0.1</p></pre>
            -Necmettin için yeni bir strateji geliştirildi.<br />
            -Strateji Tradingview webhook bağlantısı yapıldı.<br />
            -Binance alım-satım ayarları otomatikleştirildi.<br />
            -Yazılan kodlar bulut sunucusuna uygulama olarak aktarıldı ve çalışır vaziyete getirildi.<br />
            <br />
            *Artık Necmettin Tradingview'den aldığı sinyaller ile alım-satım işlemleri yapabiliyor.<br />
            <br />
            <video width="680" height="auto" autoplay loop muted>
              <source src="../static/images/necmo.mp4" type="video/mp4">
              <source src="../static/images/necmo.ogg" type="video/ogg">
            </video>
            <li style="color: #CF6679;">
              Bot talebiniz ve danışmanlık için lütfen <a href="mailto:ihsan.ersen@hotmail.com" style="color: #3700B3;">ihsan.ersen@hotmail.com</a> adresinden bana ulaşın.
            </li>
          </ul>
          </p>
        </article>
      </div>
    </main>
    <footer> © Copyright, 2022 | <a href="https://www.linkedin.com/in/root-/" target="_blank" style="color: #3700B3;">self-sponsored</a>
    </footer>
    <script id="dsq-count-scr" src="js/count.js" async></script>
  

</body></html>