<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Personal Blog - Self-Improvement to Development</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="refresh" content="{{price_log}}" />
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
    <link rel="stylesheet" href="../static/assets/css/style.css" />
    <script
      src="https://kit.fontawesome.com/ad7c10301e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <a name="top"></a>
  <body class="bg-dark" cz-shortcut-listen="true">
    <header>
      <div id="banner">
        <div class="stack" style="--stacks: 3">
          <span style="--index: 0;">
███████╗██████╗ ███████╗███████╗███╗   ██╗
██╔════╝██╔══██╗██╔════╝██╔════╝████╗  ██║
█████╗  ██████╔╝███████╗█████╗  ██╔██╗ ██║
██╔══╝  ██╔══██╗╚════██║██╔══╝  ██║╚██╗██║
███████╗██║  ██║███████║███████╗██║ ╚████║
╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝
         </span>
         <span style="--index: 1;">
███████╗██████╗ ███████╗███████╗███╗   ██╗
██╔════╝██╔══██╗██╔════╝██╔════╝████╗  ██║
█████╗  ██████╔╝███████╗█████╗  ██╔██╗ ██║
██╔══╝  ██╔══██╗╚════██║██╔══╝  ██║╚██╗██║
███████╗██║  ██║███████║███████╗██║ ╚████║
╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝
         </span>
         <span style="--index: 2;">
███████╗██████╗ ███████╗███████╗███╗   ██╗
██╔════╝██╔══██╗██╔════╝██╔════╝████╗  ██║
█████╗  ██████╔╝███████╗█████╗  ██╔██╗ ██║
██╔══╝  ██╔══██╗╚════██║██╔══╝  ██║╚██╗██║
███████╗██║  ██║███████║███████╗██║ ╚████║
╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝
                     </span>
        </div>
"Personal Blog"
      </div>
    </header>
    <div class="menu">
      <ul>
        <li>
          <a href="/"><i class="fa-solid fa-terminal"></i></a>
        </li>
        <li style="background-color: #99999950"><a href="/blog/">Blog</a></li>
        <li><a href="/whoami/">Whoami</a></li>
        <li><a href="/projects/" class="btn-shine">Projects</a></li>
        </li>
      </ul>
    </div>
    <main>
      <div style="width: 100%; text-align: right"></div>
      <ul style="text-align: center; background-color: #575757">
        <a>
          <b style="color: #ffcc66">Basic</b> |
          <b style="color: #339999">Medium</b> |
          <b style="color: #009900">Advanced</b> |
          <b style="color: #cc3558">Article</b>
        </a>
      </ul>
      <div class="post">
        <header class="post-header">
          <h1>
            Ağ Teknolojileri
            <span style="color: #cc3558; font-size: 14px">Article</span>
          </h1>
          <p class="meta">
            14 Ağustos, 2022 •
            <span>TECHNOLOGY</span>
          </p>
        </header>
        <article class="post-content">
          <h2>IDS/IPS</h2>
          <p>
            <b>Intrusion Detection Systems</b> kelimelerinin kısaltmasıdır. Saldırı
            Tespit ve Önleme Sistemi olarak da bilinir. Kötü amaçlı etkinlikler
            için ağ veya sistem etkinliklerini izleyen bir ağ güvenliği
            uygulamasıdır.<br />
            IPS tipik olarak gözlemlenen olaylarla ilgili bilgileri kaydeder, güvenlik yöneticilerine gözlemlenen önemli olayları bildirir ve raporlar üretir.
            IPS, tespit edilen bir tehdidi engellemeye çalışır. IPS'nin saldırıyı durdurmak, güvenlik ortamını değiştirmek veya saldırının içeriğini değiştirmek şeklinde çeşitli yanıt teknikleri kullanır.
            <br/><br/>(IPS) Sınıflandırılması: <br/>
            İzinsiz Girişi Önleme Sistemi (IPS) 4 tipte sınıflandırılır: <br /><br />
            <ul>
              <li style="text-decoration: underline;">Ağ Tabanlı Saldırı Önleme (NIPS)</li>
              <p>Protokol etkinliğini analiz ederek tüm ağı şüpheli trafik açısından izler.</p>
              <li style="text-decoration: underline;">Kablosuz Saldırı Önleme (WIPS)</li>
              <p>Kablosuz ağ protokollerini analiz ederek bir kablosuz ağı şüpheli trafik açısından izler.</p>
              <li style="text-decoration: underline;">Ağ davranışı analizi (NBA)</li>
              <p>DDOS saldırıları, belirli kötü amaçlı yazılım biçimleri ve politika ihlalleri gibi olağandışı trafik akışları oluşturan tehditleri belirlemek için ağ trafiğini inceler. </p>
              <li style="text-decoration: underline;">Ana Bilgisayar Tabanlı Saldırı Önleme</li>
              <p>Şüpheli etkinlikler için bir ana bilgisayarın içinde meydana gelen olayları tarayaran bir yazılımdır.</p>
            </ul>
          </p>
          <h2>SIEM</h2>
          <p>SIEM yani, SIM (Security İnformation Management) ve SEM (Security Event Management) işlevlerini tek bir güvenlik yönetim sisteminde (Güvenlik Bilgileri ve Olay Yönetimi) birleştirir.<br/><br/>
            SIEM teknolojisi serverlardan, son kullanıcı cihazlarından, ağ cihazlarından ve uygulamalardan güvenlikle ilgili bilgileri toplar. 
            Güvenlik Bilgileri ve Olay Yönetimi (SIEM) çözümleri, verileri kategorilere ayırır ve olası bir güvenlik sorunu tespit edildiğinde önceden belirlenmiş kurallara göre bir uyarı gönderebilir veya başka bir şekilde yanıt verebilir. <br/>
            Ağ genelinde toplanan verilerin toplanması ve analizi, güvenlik ekiplerinin büyük resmi görmelerini, ihlalleri veya olayları erken aşamalarda belirlemelerini ve hasar oluşmadan önce müdahale etmelerini sağlar.  
            <br/><br/>
            SIEM sistemi aşağıdaki kaynakları loglar ve yorumlar:<br />
            <ul>
              <li>Firewall</li>
              <li>Web Filtreleri</li>
              <li>Endpoint Güvenliği</li>
              <li>Access Pointler</li>
              <li>Routerlar</li>
              <li>Switchler</li>
              <li>Uygulama Sunucuları</li>
              <li>Honeypot Sistemleri</li>
            </ul><br/>
            SIEM sistemleri, analiz, raporlar ve izleme için bu günlüklerden verilere bakar. 
            BT ekipleri, bu sonuçlara dayanarak güvenlik olaylarına etkili ve verimli bir şekilde yanıt verebilir.
          </p>
          <h2>Firewall</h2>
          <p>Firewall, tanımlanan kurallara dayanarak izleyen ve eylemler gerçekleştiren (trafiğe izin verme veya trafiği reddetme) bir ağ güvenlik sistemidir. 
            Tek bir cihaz, cihazlar veya server üzerinde çalışan yazılımlar tarafından gerçekleştirilir.<br/><br/>
            <h3>Firewall Metodolojileri</h3><br/> Firewall'ların uygulanabileceği belirli yöntemler vardır ve Firewall'lar, nesline göre kategorize edilebilir.

              Bunlar aşağıdaki gibidir:<br/><br/>
            <ul>
              <li style="text-decoration: underline;">Birinci Nesil - Paket Filtreleme Firewall</li>
              <p>Paket filtreleme firewall, giden ve gelen paketleri izleyerek ve bunların kaynak ve hedef IP adreslerine, protokollere ve bağlantı noktalarına göre geçmesine veya durmasına izin vererek ağ erişimini denetlemek için kullanılır. Taşıma protokolü katmanındaki trafiği analiz eder (ancak esas olarak ilk 3 katmanı kullanır).
                Paket Firewal'ları her paketi yalıtılmış olarak ele alır. Bir paketin mevcut bir trafik akışının parçası olup olmadığını söyleyemezler. Yalnızca benzersiz paket başlıklarına dayalı paketlere izin verebilir veya reddedebilir.
                Paket filtreleme Firewall, paketin iletilip atılmayacağına karar veren bir filtreleme tablosu tutar. Verilen filtreleme tablosundan paketler aşağıdaki kurallara göre filtrelenecektir:<br/><br/>
                <img src="../static/images/firewall-1.png">
              <ol>
                <li>192.168.21.0 ağından gelen paketler engellenir.</li>
                <li>Dahili TELNET sunucusuna (port 23) yönelik gelen paketler engellenir.</li>
                <li>Ana bilgisayar 192.168.21.3'e yönelik gelen paketler engellenir.</li>
                <li>192.168.21.0 ağına bilinen tüm servislere izin verilir.</li>
              </ol>
              </p>
              <li style="text-decoration: underline;">İkinci Nesil - Durum Denetimli Firewall</li>
              <p> Durum Bilgisi Olan Paket Denetimi gerçekleştirir. Paket filtreleme Firewall'ının aksine paketin bağlantı durumunu belirleyebilir ve bu da onu daha verimli hale getirir.<br/> 
                TCP akışları gibi, üzerinde dolaşan ağ bağlantısının durumunu izler. 
                Bu nedenle, filtreleme kararları yalnızca tanımlanmış kurallara değil, aynı zamanda durum tablosundaki paketin geçmişine de dayanacaktır.
              </p>
              <li style="text-decoration: underline;">Üçüncü Nesil - Uygulama Katmanı Firewall</li>
              <p>Uygulama Katmanı Firewall, herhangi bir OSI katmanındaki paketleri uygulama katmanına kadar inceleyebilir ve filtreleyebilir. 
                Belirli içeriği engelleme ve belirli uygulamaların ve protokollerin (HTTP, FTP gibi) ne zaman kötüye kullanıldığını tanıma yeteneğine sahiptir.<br/><br/>
                Başka bir deyişle, Uygulama Katmanı Firewall'ı proxy sunucuları çalıştıran ana bilgisayarlardır. 
                Bir Proxy Firewall, Firewall'ın her iki tarafı arasındaki doğrudan bağlantıyı engeller, her paketin proxy'den geçmesi gerekir. 
                Önceden tanımlanmış kurallara dayalı trafiğe izin verebilir veya engelleyebilir.<br/><br/>
                Not: Uygulama Katmanı Firewall'ı Ağ Adresi Çevirmeni (NAT) olarak da kullanılabilir.
              </p>
              <li style="text-decoration: underline;">Yeni Nesil Firewall (NGFW)</li>
              <p>Malware ve uygulama katmanı saldırıları gibi modern güvenlik ihlallerini durdurmak için bugünlerde yeni Nesil Firewall kullanılıyor. 
                NGFW, ağı bu modern tehditlerden korumak için Derin Paket Denetimi, Uygulama Denetimi, SSL / SSH denetimi ve birçok işlevden oluşur.
              </p>
            </ul>
            <h3>Firewall Türleri</h3><br/>
            Güvenlik duvarları genellikle iki tiptir: Host Tabanlı ve Ağ Tabanlı.
            <ul>
              <li style="text-decoration: underline;">Host Tabanlı Firewall</li>
              <p>Gelen ve giden her paketi denetleyen her ağ düğümüne ana bilgisayar (Host) tabanlı bir firewall yüklenir. 
                İşletim sisteminin bir parçası olarak gelen bir yazılım uygulaması veya uygulama paketidir. 
                Host Tabanlı Firewalla ihtiyaç vardır, çünkü ağ güvenlik duvarları güvenilir bir ağ içinde koruma sağlayamaz. 
                Host Tabanlı Firewall, her ana bilgisayarı saldırılara ve yetkisiz erişime karşı korur.
              </p>
              <li style="text-decoration: underline;">Ağ Tabanlı Firewall</li>
              <p>Ağ düzeyinde Firewall işlevi. Başka bir deyişle, bu güvenlik duvarları ağdaki tüm gelen ve giden trafiği filtreler. 
                Güvenlik duvarında tanımlanan kuralları kullanarak trafiği filtreleyerek iç ağı korur. 
                Bir Ağ Firewallnda iki veya daha fazla ağ arabirim kartı (NIC) olabilir. 
                Ağ tabanlı bir Firewall genellikle özel yazılım yüklü özel bir sistemdir.
              </p>
            </ul>
            Her iki güvenlik duvarı türünün de kendi avantajları vardır.
          </p>
            <h2>EDR</h2>
            <p>Ağdaki uç noktaları (yani ağları değil, bilgisayarları) sürekli olarak izleyerek, daha fazla analiz için bu verileri toplayarak, herhangi bir şüpheli etkinlik veya tehdidi tespit ederek ve ardından bunları rapor ederek veya bunlara yanıt vererek kullanılır. 
              <br/><br/>Ayrıca Gelişmiş Kalıcı Tehditleri (APT) ve dosyasız saldırıları, kötü amaçlı komut dosyalarını ve çalınan kullanıcı kimlik bilgilerini de önleyebilir.
            </p>
            <h2>Honeypot</h2>
            <p>Honeypot'lar, siber tehditler, saldırganlar, araçları ve ayrıca tehdit aktörü taktikleri, teknikleri ve prosedürleri (TTP'ler) ve 
              saldırıyla ilgili ek değerli bilgiler hakkında bir başka büyük güvenlik bilgisi kaynağı olabilir.
              Bal küpleri aracılığıyla toplanan bilgiler, kuruluşunuza saldırgan davranışına ilişkin içgörüler sağlayabilir. 
              Ayrıca Honeypotlar, henüz imzaları veya algılama yöntemleri olmayan yeni ortaya çıkan saldırılara ve tehditlere ışık tutabilir.<br/>
              Bu nedenle, bir Honeypot siber tehdit istihbaratınız için olağanüstü değerli olabilir.<br/><br/>

              Bir honeypot, kritik altyapıyı, hizmetleri ve yapılandırmaları simüle etmek için kullanılan kasıtlı olarak savunmasız bir sistemdir. Siber güvenlik uzmanları bu bilgisayar sistemi
              ni tuzak kurmak ve potansiyel saldırganları cezbetmek için bir tuzak olarak kullanırlar.<br/><br/>
              Honeypotlar, gelişmiş tehditleri tespit etmek, analiz etmek ve savunmak amacıyla bir tür olay tespit ve müdahale teknolojisi olan aldatma teknolojisi kategorisine girer. Siber güvenlik ekipleri, stratejik olarak konuşlandırılan sahte BT varlıklarıyla potansiyel olarak etkileşime girecek ve değerli hedefler olarak görünecek saldırganları çekmek için aldatma teknolojisi olan honeypotları kullanarak bu hedefe ulaşıyor.<br/><br/>
              Honeypotlar saldırganların bu sisteme girmesine izin verecek şekilde tasarlanmıştır, bu nedenle siber güvenlik ekipleri saldırının kontrollü bir ortamda yapılmasını beklemektedir. Bu, tehdit analistlerinin kurallar yazmasına, ortaya çıkan çeşitli saldırılara karşı korunmak için yeni önlemler oluşturmasına ve gelecekte tespit edilmek üzere veri akışınıza geri beslenebilecek tehdit istihbarat listeleri oluşturmasına olanak tanır.
            <br/><h3>Honeypot Türleri</h3>
            <ul>
            <br/><li style="text-decoration: underline;">Yüksek etkileşimli Honeypot</li><br/> Tam ölçekli bir üretim sistemini taklit etmek yerine, yüksek etkileşimli honeypotlar gerçek bir üretim sisteminin tüm hizmetlerini çalıştırmayı taklit eder.
            <br/><br/> 
            <b>Örnek:</b> Tehdit aktörünün saldırı sırasında yaptığı her şeyi kaydedecek şekilde yapılandırılmış tam işletim sistemleri. Bununla birlikte, bu işletim sistemi honeypotu, saldırganın kötü amaçlı yazılımları honeypot ağının dışındaki varlıklara yaymasını önler (çoğunlukla daha fazla honeypottan oluşur).
            <br/><br/><li style="text-decoration: underline;">Düşük etkileşimli Honeypot</li><br/> Çoğunlukla bir üretim ortamında konuşlandırılan düşük etkileşimli honeypotlar, yalnızca sınırlı sayıda hizmet çalıştırarak erken algılama mekanizmaları olarak işlev görür. Saldırganlar, önemli sınırlamaları olduğu ve tamamen işlevsel hizmetlerden yoksun olduğu için bu honeypot türüyle fazla bir şey yapamazken, kullanımı kolaydır ve siber güvenlik ekipleri bunu hızlı bir şekilde dağıtabilir.
            <br/><br/>  
            <b>Örnek:</b> Genel ve kötü amaçlı internet trafiğindeki güvenlik açığını tarayan veya denetleyen, örneğin otomatik kaba kuvvet uygulayanlar, SSH botları ve giriş sanitizasyon denetleyicisi botları gibi otomatikleştirilmiş botlar.
            <br/><br/><li style="text-decoration: underline;">Malware Honeypot</li><br/> Bazı durumlarda saldırganlar açık veya savunmasız sistemlere bulaşmaya çalışır ve bunu açık veya savunmasız bir kutuda bir kötü amaçlı yazılım örneği barındırarak denerler. Kötü amaçlı yazılımları rastgele bir sunucuda barındırmak, sunucunun IP'si tehdit listesinde olmadığı için kötü amaçlı yazılımların BT ortamına sızmasına daha kolay erişim sağlar. Bu nedenle, honeypotlar büyük miktarda yeni kötü amaçlı yazılım örneği elde etmek için kullanılabilir.
            <br/><br/>
            <b>Örnek:</b> Taklit edilen aygıta bulaşması için bir makineye bulaşan USB yayıcı bir kötü amaçlı yazılımı kandıran bir USB aygıtını taklit eden bir honeypot.
            <br/><br/><li style="text-decoration: underline;">Spam Honeypot</li><br/> Spam honeypotlar, açık proxy'leri taklit etmek ve mevcut spam ve e-posta spam tabanlı kötü amaçlı yazılım kampanya eğilimleri hakkında bilgi almak için posta aktarımlarında kullanılır.
            <br/><br/>
            <b>Örnek:</b> Spam e-postalarını göndermek için kuruluşun SMTP aktarıcısını neyin kullandığına ilişkin bilgilerin yanı sıra mevcut spam eğilimleri hakkında bilgi sağlayabilen sahte açık SMTP aktarıcıları. Diğer spam honeypot biçimleri, sahte bilgileri, kötü amaçlı yazılımları ve kimlik avı bağlantılarını yaymak için kullanılabilecek forum veya yorum honeypotlarıdır.
            <br/><br/><li style="text-decoration: underline;">İstemci Honeypot</li><br/> Çoğu honeypot bağlantıları dinleyen sunucular olsa da, istemci Honeypot daha hedefli saldırılara yardımcı olmak için bir istemcinin ortamının önemli bölümlerini çoğaltır. Bu honeypotlar için gerçek müşteri verilerinin kullanılmadığına dikkat etmek çok önemlidir. Bunun yerine, istemci honeypotları sahte ana bilgisayarın okunaklı bir ana bilgisayarla aynı görünmesini sağlar.
            <br/><br/>
            <b>Örnek:</b> İşletim sistemi bilgileri, çalışan hizmetler ve açık portlar gibi elle yazdırılabilir verileri kullanma.
            </ul>
          </p>
          <h2>NDR</h2>
          <p>Network Detection and Response (NDR), ağınızdan geçen, bilinen veya bilinmeyen tehditlere karşı tam görünürlük elde etmek için aşamalı bir güvenlik çözümüdür. 
            NDR, verimli iş akışları ve otomasyon dahil olmak üzere ağ trafiğinin merkezi, makine tabanlı analizini ve yanıt çözümlerini sağlar.
            <br/><br/>
            Ekibinizin neden ağ güvenliği stratejiniz için izinsiz giriş algılama ve önleme sistemleri (IDS / IPS) gibi eski güvenlik araçlarını kullanamadığını merak ediyor olabilirsiniz.
            Ne yazık ki, güvenlik ekipleri daha geniş analiz gerektiren ağ güvenliği tehditlerini tespit etmek için imza tabanlı güvenlik araçlarına güvenemez. 
            İmza tabanlı güvenlik araçları, ağdaki saldırıları tanımak için daha önce imzalar yazılmadıkça yeni saldırıları algılayamaz. 
            Bu eski araçlar aynı zamanda birden fazla veri noktasında bağlantı bulamaz veya potansiyel tehditleri tanımak için zaman içinde verilere bakmaz. 
            Ek olarak, yanıt yeteneklerinde fazla bir şey sunmuyorlar.
            <br/><br/>
            NDR çözümleri, ekiplere ağ kaynaklı tehdidi mümkün olan en kısa sürede tespit etmek için ilgili ağ etkinliklerinin gerçek zamanlı farkındalığını sağlar.
          </p>
          <h2>Merkezi Log Sistemi</h2>
          <p>Merkezi günlüğe kaydetme, ağlardan, altyapıdan ve uygulamalardan günlükleri depolama ve analiz için tek bir konumda toplama işlemidir. 
            Bu, yöneticilere ağ üzerindeki tüm etkinliklerin birleştirilmiş bir görünümünü sağlayarak sorunları tanımlamayı ve gidermeyi kolaylaştırabilir.
            <br/><br/>
            Günlükler, BT sistemindeki sistem etkinlikleri, olaylar veya değişikliklerin denetim izini sağlar. 
            Sistem işlevselliği sorunlarını, performans sorunlarını veya güvenlik olaylarını gidermeye yardımcı olabilirler. 
            Sistem günlükleri, sistemde ne zaman değişiklik yapıldığını ve bunları kimin yaptığını belirlemek için kullanılır. 
            Ek olarak, düzenleyici gereklilikler için günlükler genellikle gereklidir.
            <br/><br/>
            Örneğin, veritabanınız yavaş çalışıyorsa, veritabanı yavaş sorgu günlüklerini incelemek tek çözüm olmayabilir. 
            Çoğu sistem Front-end, ara katman yazılımı ve ardından veritabanlarıyla katmanlanır. 
            Temel sunucu ve depolama alt sisteminin yanı sıra ad çözümleme performansı ve ağdan oluşturulan günlüklere bakmanız gerekebilir.
            <br/><br/>
            Bu nedenle, dağıtılmış bir sistemde gerçekte neler olup bittiğini anlamanın tek yolu, ağdaki günlüğe kaydedilen tüm olayları gerçek zamanlı olarak toplamaktır. 
            <br/>Bu günlükleri içerir:
            <ul>
            <li>Sunucu altyapısı</li>
            <li>Depolama</li>
            <li>Veri tabanı</li>
            <li>API ağ geçitleri</li>
            <li>Yük dengeleyiciler</li>
            <li>Firewalls</li>
            ve diğerleri...
            </ul> 
            Bir sorunu giderirken, genellikle birden çok günlük kaynağından gelen olayları ilişkilendirmeniz gerekir; bu nedenle, uygulamalarınızın çalışmasına katkıda bulunan her bileşenden günlükleri yakalamanız gerekir.
            <br/><br/>
            Bu yaklaşım zaman alıcıdır ve önemli olayları bir noktada veya başka bir noktada kaçıracağınızı neredeyse garanti eder. Ancak, yine de bu günlükleri yoksaymayı göze alamazsınız.
            Birden fazla altyapı bileşenine (belki de düzinelerce) erişmek için her gün manuel olarak oturum açmak, yalnızca yüzlerce (veya binlerce) günlük satırını okumak imkansız noktaya kadar külfetlidir. 
            <br/><br/>
            Merkezi günlüğe kaydetmenin bazı avantajlarını düşünelim.
            Bu nedenle tek pratik çözüm, tek bir görüntüleme sistemine sahip olmaktır. 
            Tüm sistemlerinize otomatik olarak bağlanabilen ve günlüklerini gerçek zamanlı olarak toplayabilen ve daha sonra bunları çekici, anlaşılması kolay bir arayüzde sunabilen bir çözüm. 
          </p>
          <h2>OpenCTI</h2>
          <p><img src="../static/images/opencti.png" alt="OpenCTI Image"> <br/><br/>
            OpenCTI, kuruluşların siber tehdit istihbarat bilgilerini ve gözlemlenebilirlerini yönetmelerini sağlayan açık kaynaklı bir platformdur. 
            Siber tehditler hakkında teknik ve teknik olmayan bilgileri yapılandırmak, depolamak, düzenlemek ve görselleştirmek amacıyla oluşturulmuştur.
          <br/><br/>
            Kaynak: <a href="https://github.com/OpenCTI-Platform/opencti">OpenCTI - GitHub</a>
          </p>
          <h2>NIST</h2>
          
          
          
          <img style="width: 60%; display:flex; float:right; " src="../static/images/nist-process.png" alt="NIST Framework Image">
          <p style="margin-bottom: 5em;"  >
            
            NIST Siber Güvenlik Çerçevesi, bir kuruluşun siber güvenlik programını başlatmasına veya geliştirmesine yardımcı olabilir. 
            <br/>
            Etkili olduğu bilinen uygulamalardan yola çıkarak, kuruluşların siber güvenlik duruşlarını geliştirmelerine yardımcı olabilir. 
            <br/><br/>
            Siber güvenlik konusunda hem iç hem de dış paydaşlar arasındaki iletişimi teşvik eder ve daha büyük kuruluşlar için 
            siber güvenlik risk yönetimini daha geniş kurumsal risk yönetimi süreçleriyle daha iyi bütünleştirmeye 
            ve uyumlu hale getirmeye yardımcı olur.
            <br/><br/>
            Kaynak: <a href="https://www.nist.gov/cyberframework">NIST Homepage</a>
            <br/><br/>
            <br/><br/><br/><br/><br/><br/><br/><br/>
          </p>
          <br/><br/>
          <h4>Eğitimimde bahsettiğim diğer bir diyagram:</h4>
          <p>
            bkz.: <a target="_blank" href="https://www.udemy.com/course/siber-guvenlik-egitimi-bolum-1/?referralCode=1F1E683442288808C1C4">Udemy - Siber Güvenlik Eğitimi</a>
            <br/><br/>
            <img src="../static/images/like-nist.png" alt="Udemy-Siber Güvenlik Eğitmi">
          </p>
        </article>
      </div>
    </main>
    <button style="background-color: #121212; border: 1px solid #7B61FF;border-radius: 2px;"  title="Go to top"><a style="color:white;" href="#top">Yukarı git</a></button>
    
    <footer>
      © Copyright, 2022 | <a href="https://www.linkedin.com/in/root-/" target="_blank" style="color: #0089ce">self-sponsored</a>
    </footer>
    <script id="dsq-count-scr" src="js/count.js" async></script>
  </body>
</html>
