<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Personal Blog - Self-Improvement to Development</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="refresh" content="{{price_log}}" />
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <script
      src="https://kit.fontawesome.com/ad7c10301e.js"
      crossorigin="anonymous"
    ></script>
  </head>

     <body class="bg-dark" cz-shortcut-listen="true">

    <header>
      <div id="banner">
        <div class="stack" style="--stacks: 3;">
          <span style="--index: 0;">
 ███████╗██████╗ ███████╗███████╗███╗   ██╗
 ██╔════╝██╔══██╗██╔════╝██╔════╝████╗  ██║
 █████╗  ██████╔╝███████╗█████╗  ██╔██╗ ██║
 ██╔══╝  ██╔══██╗╚════██║██╔══╝  ██║╚██╗██║
 ███████╗██║  ██║███████║███████╗██║ ╚████║
 ╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝
          </span>
          <span style="--index: 1;">
 ███████╗██████╗ ███████╗███████╗███╗   ██╗
 ██╔════╝██╔══██╗██╔════╝██╔════╝████╗  ██║
 █████╗  ██████╔╝███████╗█████╗  ██╔██╗ ██║
 ██╔══╝  ██╔══██╗╚════██║██╔══╝  ██║╚██╗██║
 ███████╗██║  ██║███████║███████╗██║ ╚████║
 ╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝
          </span>
          <span style="--index: 2;">
 ███████╗██████╗ ███████╗███████╗███╗   ██╗
 ██╔════╝██╔══██╗██╔════╝██╔════╝████╗  ██║
 █████╗  ██████╔╝███████╗█████╗  ██╔██╗ ██║
 ██╔══╝  ██╔══██╗╚════██║██╔══╝  ██║╚██╗██║
 ███████╗██║  ██║███████║███████╗██║ ╚████║
 ╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝
          </span>
        </div>
"Personal Blog"
</div>
    </header>
    <div class="menu">
      <ul>
        <li><a href="/"><i class="fa-solid fa-terminal"></i></a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/whoami/">Whoami</a></li>
        <li style="background-color: #99999950;"><a href="/projects/" class="btn-shine">Projects</a></li>
      </ul>
    </div>
    <main>
      <div style="width:100%;text-align:right;"> </div>
      <ul style="text-align: center; background-color: #575757;">
        <a> <b style="color: #ffcc66;">Basic</b> |  <b style="color: #339999;">Medium</b>
          | <b style="color: #D0FDD4;">Advanced</b> | <b style="color: #cc3558;">Article</b>
        </a>
      </ul>
      <ul class="posts">
        <b>
        <li> <span class="post-date">22 Aug, 2023</span> :: <span style="color: #D0FDD4;">[*]</span><span style="color: #ffffff8f"> [TR] </span><a class="post-link" href="/multitool">
          OpenAI-Multitool</a></li> 

        <li> <span class="post-date">14 Jun, 2023</span> :: <span style="color: #D0FDD4;">[*]</span><span style="color: #ffffff8f"> [TR] </span><a class="post-link" href="/chatify">
          Chatify - Global Chat Extension</a></li>    

        <li> <span class="post-date">12 Apr, 2023</span> :: <span style="color: #D0FDD4;">[*]</span><span style="color: #ffffff8f"> [TR] </span><a class="post-link" href="/calendar-bot">
          Discord Calendar Bot </a></li>
        
        <li> <span class="post-date">12 Nov, 2021</span> :: <span style="color: #D0FDD4;">[*]</span><span style="color: #ffffff8f"> [TR] </span><a class="post-link" href="/necmo">
          Necmo Trade Bot</a></li>    
      </ul>

    </main>
    <footer>
      © Copyright, 2022 | <a href="https://www.linkedin.com/in/root-/" target="_blank" style="color: #0089ce">self-sponsored</a>
    </footer>
    <script id="dsq-count-scr" src="js/count.js" async></script>
  

</body></html>