<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Personal Blog - Self-Improvement to Ethical Hacking</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="refresh" content="{{price_log}}" />
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <script
      src="https://kit.fontawesome.com/ad7c10301e.js"
      crossorigin="anonymous"
    ></script>
  </head>

     <body class="bg-dark" cz-shortcut-listen="true">

    <header>
      <div id="banner">
        <div class="stack" style="--stacks: 3;">
          <span style="--index: 0;">
 ███████╗██████╗ ███████╗███████╗███╗   ██╗
 ██╔════╝██╔══██╗██╔════╝██╔════╝████╗  ██║
 █████╗  ██████╔╝███████╗█████╗  ██╔██╗ ██║
 ██╔══╝  ██╔══██╗╚════██║██╔══╝  ██║╚██╗██║
 ███████╗██║  ██║███████║███████╗██║ ╚████║
 ╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝
          </span>
          <span style="--index: 1;">
 ███████╗██████╗ ███████╗███████╗███╗   ██╗
 ██╔════╝██╔══██╗██╔════╝██╔════╝████╗  ██║
 █████╗  ██████╔╝███████╗█████╗  ██╔██╗ ██║
 ██╔══╝  ██╔══██╗╚════██║██╔══╝  ██║╚██╗██║
 ███████╗██║  ██║███████║███████╗██║ ╚████║
 ╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝
          </span>
          <span style="--index: 2;">
 ███████╗██████╗ ███████╗███████╗███╗   ██╗
 ██╔════╝██╔══██╗██╔════╝██╔════╝████╗  ██║
 █████╗  ██████╔╝███████╗█████╗  ██╔██╗ ██║
 ██╔══╝  ██╔══██╗╚════██║██╔══╝  ██║╚██╗██║
 ███████╗██║  ██║███████║███████╗██║ ╚████║
 ╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝
          </span>
        </div>
"Personal Blog"
</div>
    </header>
    <div class="menu">
      <ul>
        <li><a href="/"><i class="fa-solid fa-terminal"></i></a></li>
        <li style="background-color: #99999950;"><a href="/blog/">Blog</a></li>
        <li><a href="/pentest/">Pentest</a></li>
        <li><a href="/whoami/">Whoami</a></li>
        <li><a href="/necmo/" class="btn-shine">Necmo-Bot</a></li>
      </ul>
    </div>
    <main>
      <div style="width:100%;text-align:right;"> </div>
      <ul style="text-align: center; background-color: #575757;">
        <a> <b style="color: #ffcc66;">Basic</b> | <b style="color: #339999;">Medium</b>
          | <b style="color: #009900;">Advanced</b> | <b style="color: #cc3558;">Article</b>
        </a>
      </ul>
      <div class="post">
        <header class="post-header">
          <h1>Whiplash <span style="color:#cc3558 ;font-size:14px;">Article</span></h1>
          <p class="meta">
            12 Ağustos, 2022 • 
            <span>MOVIE</span>
          </p>
        </header>
        <article class="post-content">
          <h2>Düşüncelerim</h2>
          <p>
            Çok azimli ve çalışkan bir bateristin tüm azmine ve çabalarına rağmen doyumsuz, acımasız ve zorba bir öğretmenin uyguladığı baskı ile heba olduğunu düşünüyorum. 
            Ne kadar en iyi bateri öğretmenlerinden biri olsa da psikolojik yaklaşımı ve davranışları bir insan için oldukça ağır. 
            Zaten filmde antrenman sırasında ellerinin yaralanmasından bunu anlayabiliriz. Ayrıca öğretmen yüzünden bir başka öğrenci intihar ediyor. 
            Yani film de bir eğitmenin eğitim verirken öğrencisine verdiği şiddetli psikolojik baskı ve zaten ailesinden her hangi bir destek göremeyen bir öğrencinin yaşadığı psikolojik durumu işlendiğini düşünüyorum. 
            Bu öğretmen-öğrenci ilişkisi dışında bateristin aile ilişkisi ve aşk hayatına değinilmeye çalışılmış, bu konularda dramatik bir hayatı ve bağlanma sorunu yaşadığını düşünüyorum. 
            Ayrıca filmde jazz müziğe doydum ve müzikler oldukça güzeldi. Fakat filmi izleten bence öğretmen ve öğrenci ilişkisi ve bateristin azmiydi.
          </p>
          
          
        </article>
      </div>

    </main>
    <footer> © Copyright, 2022 | Sponsored by
      <li><a href="https://www.linkedin.com/in/root-/" target="_blank" style="color: #0089ce;">self-sponsored</a></li>
    </footer>
    <script id="dsq-count-scr" src="js/count.js" async></script>
  

</body></html>