<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Personal Blog - Self-Improvement to Ethical Hacking</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="refresh" content="{{price_log}}" />
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <script
      src="https://kit.fontawesome.com/ad7c10301e.js"
      crossorigin="anonymous">
    </script>
  </head>

    <body class="bg-dark" cz-shortcut-listen="true">

    <header>
      <div id="banner">
        <div class="stack" style="--stacks: 3;">
          <span style="--index: 0;">
 ███████╗██████╗ ███████╗███████╗███╗   ██╗
 ██╔════╝██╔══██╗██╔════╝██╔════╝████╗  ██║
 █████╗  ██████╔╝███████╗█████╗  ██╔██╗ ██║
 ██╔══╝  ██╔══██╗╚════██║██╔══╝  ██║╚██╗██║
 ███████╗██║  ██║███████║███████╗██║ ╚████║
 ╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝
          </span>
          <span style="--index: 1;">
 ███████╗██████╗ ███████╗███████╗███╗   ██╗
 ██╔════╝██╔══██╗██╔════╝██╔════╝████╗  ██║
 █████╗  ██████╔╝███████╗█████╗  ██╔██╗ ██║
 ██╔══╝  ██╔══██╗╚════██║██╔══╝  ██║╚██╗██║
 ███████╗██║  ██║███████║███████╗██║ ╚████║
 ╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝
          </span>
          <span style="--index: 2;">
 ███████╗██████╗ ███████╗███████╗███╗   ██╗
 ██╔════╝██╔══██╗██╔════╝██╔════╝████╗  ██║
 █████╗  ██████╔╝███████╗█████╗  ██╔██╗ ██║
 ██╔══╝  ██╔══██╗╚════██║██╔══╝  ██║╚██╗██║
 ███████╗██║  ██║███████║███████╗██║ ╚████║
 ╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝
          </span>
        </div>
"Personal Blog"
</div>
    </header>
    <div class="menu">
      <ul>
        <li><a href="/"><i class="fa-solid fa-terminal"></i></a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/pentest/">Pentest</a></li>
        <li style="background-color: #99999950;"><a href="/whoami/">Whoami</a></li>
        <li><a href="/necmo/" class="btn-shine">Necmo-Bot</a></li>
      </ul>
    </div>
    <main>
      <div class="post">
        <header class="post-header">
          <h3><span style="color: #287979;">İhsan ERŞEN</span> -
            Computer Engineering Student && Pentester</h3>
          <h4><span style="color: #2cb3d1;">NONE</span> | <span style="color: #1ba447;">NONE</span> | <span style="color: #bd9437;">NONE</span> | <span style="color: #6d7280;">NONE</span> | <span style="color:   #900C3F;">NONE<sup><span lang="EN-GB">v00 </span></sup></span>| <span style="color: #3d695c;">NONE</span> | NONE </h4>
          
        </header>
        <article class="post-content">
          <p>▪	I am a 22-year-old student who is in the 3rd year of Computer Engineering.<br />
            ▪	I work in the fields of Cyber Security, Blockchain and Artificial Intelligence.<br />
            ▪	I have strong communication skills and a collaborative approach to problem solving, working closely with product managers, designers, engineers and other stakeholders.<br />
            ▪	I am highly self-motivated to work efficiently with little or no supervision.
            </p>
          <h4>Other Skills && Hobbies :: <ul>
            <li>Paragliding Pilot</li>
            <li>Rubik's Cube 3x3x3 in 27 seconds</li>
            <li>Pen Spinning</li>
            </ul>
          </h4>

          <ul>
            <li><a target="_blank" href="https://www.udemy.com/course/siber-guvenlik-egitimi-bolum-1/?referralCode=1F1E683442288808C1C4">Udemy - Siber Güvenlik Eğitimi</a></li>
            <li>Email :: <a href="mailto:ihsan.ersen@hotmail.com" style="color: #3700B3;">ihsan.ersen@hotmail.com</a></li>
            <li>Linkedln :: <a style="color: #3700B3;"" href="https://tr.linkedin.com/in/root-" target="_blank" ><strong>root-</strong></a></li>
            <li>Github :: <a style="color: #3700B3;"" href="https://github.com/sleda" target="_blank"><strong>sleda</strong></a></li>
          </ul>
        </article>
      </div>
    </main>
    <footer> © Copyright, 2022 | Sponsored by
      <li><a href="https://www.linkedin.com/in/root-/" target="_blank" style="color: #3700B3;">self-sponsored</a></li>
    </footer>
    <script id="dsq-count-scr" src="js/count.js" async></script>


     <!--flask requirements-->
     <script
     src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
     integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
     crossorigin="anonymous"
   ></script>
   <script
     src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
     integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
     crossorigin="anonymous"
   ></script>
  </body>
</html>